*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
}
.header_section{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px;
    border-radius: 0% 0% 2% 2%;
    box-shadow: 0px 1px 10px rgba(215, 215, 215, 0.718);
}
.title{
    color: #2ECC40;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
}
/* media Query */
@media(max-width:600px){
    .title{
        font-size: 1.8rem;
}
.header_section{
    height: 10vh;
}
}
@media(max-width:500px){

}
.data-body{
    margin-top: 5rem;
    height: auto;
    background-color: white;
    margin-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
}
.data-box{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;

}
.card{
    height: 20vh;
    width: 12rem;
    background-color: #00ff1e18;
    border-radius: 5px 20px 5px 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    padding-top: 1.5rem;
    color: #15aa26e3;
    box-shadow: 0px 1px 5px #15aa2641;
    transition: ease 0.1s;
}
.card:hover{
    scale: 1.05;
}
h2{
    text-align: center;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}
h3{
    margin: 2px;
    margin-bottom: 12px;
}
h4{
    font-size: 2.2rem;
}
.values{
    display: flex;
    height: 5.5rem;
    justify-content: center; 
    align-items: center; 
}
@media(max-width:750px){
    .card{
        height: 10rem;
        width: 10rem;
    }
    h4{
        font-size: 1.2rem;
    }
}
@media(max-width:600px){
    .card{
        height: 8rem;
        width: 7rem;
    }
    h3{
        font-size: 1rem;
    }

}
.textarea{
    height: auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    height: 15rem;
    width: 60%;
    border: 2px solid #15aa26e3;
    padding: .5rem;
    margin: 1rem;
    border-radius: 5px;
}
#repeated-value{
    font-size: 1.5rem;
}
.submit-btn, .reset-btn{
    height: 3rem;
    width: 10rem;
    background-color: #15aa26e3;
    border: 0px;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
    margin: .5rem;
    font-family: 'Martian Mono', monospace;
    transition: .1s ease;
}

.submit-btn:hover{
    scale: 1.05;
    box-shadow: 0px 1px 7px #15aa26e3;
    text-shadow: 0px 1px 5px #095c13e3;
    background-image: linear-gradient(to bottom right, #15aa26e3, rgba(20, 172, 71, 0.858));
}
.submit-btn:active{
    scale: 0.95;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-offset: 1px;
    outline-width: 3px;
}
@media(min-width:1460px){
    .c{
        min-width: 30%;
    }
}
.reset-btn{
    background-color: rgb(14, 105, 242);
    width: 10rem;
}
.reset-btn:hover{
    scale: 1.05;
    box-shadow: 0px 1px 7px #1562aae3;
    text-shadow: 0px 1px 5px #092e5ce3;
}
.reset-btn:active{
    scale: 0.95;
    outline-style: solid;
    outline-color: rgb(255, 255, 255);
    outline-offset: 1px;
    outline-width: 3px;
}
.button-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}
.keywords{
    margin-top: .5rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.keywords-para{
    width: auto;
    padding:8px ;
    height: auto;
    font-size: 1.2rem;
    background-color: #00ff1e18;
    border-radius: 5px 5px 5px 5px;
    color: #15aa26e3;
    box-shadow: 0px 1px 5px #15aa2641;
    transition: ease 0.1s;
    margin: 10px;
}
